<footer>
    <div id="footer-cards">
        <div class="card">Card1</div>
        <div class="card">Card2</div>
        <div class="card">Card3</div>
    </div>
    <h2>Meios de pagamentos</h2>
    <div class="cards">
        <img class="payments-card"  src="img/payment-icons.png" alt="">
    </div>
</footer>