<footer>
    <div id="footer-cards">
        <div class="card">Fale conosco
            <a href="https://www.instagram.com">Instagram</a>
            <a href="https://www.facebook.com">Facebook</a>
        </div>
        <div class="card">Nossos parceiros
            <a href="#encontre">Encontre um parceiro</a>
            <a href="#localize">Localize um Varejista</a>
        </div>
        <div class="card">Suporte
            <a href="">Página de Suporte</a>
            <a href="">Fale conosco</a> 
        </div>
    </div>
    <h2>Meios de pagamentos</h2>
    <div class="cards">
        <img class="payments-card"  src="img/payment-icons.png" alt="">
    </div>
</footer>