<header id="topo">
    <div class="logo">
        <img src="img/logo-topo.jpg" width="140px" alt="logo topo">
    </div>
    <div class="search">
        <input type="text" placeholder="Digite sua busca..." id="campo-busca">
        <img src="img/lupa.png" alt="pesquisar" class="lupa">
    </div>
    <nav>
        <ul class="nav-right">
            <li>
                <a href="#"><i class="fa fa-user"></i>  Entrar</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cart-shopping"></i> Carrinho</a></li>
        </ul>
    </nav>
</header>
<script src="https://kit.fontawesome.com/b0acc13107.js" crossorigin="anonymous"></script>