<header id="topo">
    <div class="logo">
        <img src="img/logo-topo.jpg" width="140px" alt="logo topo">
    </div>
    <div class="search">
        caixa de pesquisa
    </div>
    <nav>
        <ul class="nav-right">
            <li><a href="#">CARRINHO</a></li>
            <li><a href="#">CADASTRO</a></li>
            <li><a href="#">ENTRAR</a></li>
        </ul>
    </nav>
</header>