*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header*/

#topo{
    width: 100%;
    height: 90px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 34px;
}

.search{
    height: 40px;
    width: 30%;
    background-color: white;
    border-radius: 30px;
    border: solid 1px blue;
    padding: 8px;
    font-size: 18px;
}

.nav-right{
    display: flex;
    margin-right: 28px;
}

.nav-right li, a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
    padding-top: 10px ;
}

.nav-right li{
    height: 40px;
    width: 100px;
    background-color: rgb(50, 217, 223);
    margin-left: 12px;
    border: tomato solid 1px;

}

